<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>R€mun€ration$</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index">R€mun€ration$</a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Liste des commerciaux">
          <a class="nav-link" href="/listecommerciaux">
            <i class="fa fa-fw fa-address-card"></i>
            <span class="nav-link-text">Liste des commerciaux</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Consulter les objectifs de vente">
          <a class="nav-link" href="/consulterobjectifsattribues">
            <i class="fa fa-fw fa-eye"></i>
            <span class="nav-link-text">Consulter les objectifs de vente</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Donner des nouveaux objectifs">
          <a class="nav-link" href="/donnerobjectifs">
            <i class="fa fa-fw fa-usd"></i>
            <span class="nav-link-text">Donner de nouveaux objectifs</span>
          </a>
        </li>
      </ul>
     
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
     
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Se déconnecter</a>
        </li>
      </ul>
    </div>

  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Espace Responsable</a>
        </li>
        <li class="breadcrumb-item active">Donner de nouveaux objectifs</li>
      </ol>


{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Création d'objectif</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                    {{ form_label(form.commercial, "Cet objectif est pour :", {'label_attr': {'for':'commercial'}})}}
                    {{ form_widget(form.commercial,{'attr': {'class': 'form-control'}}) }}           
              </div>
              <div class="col-md-6">
                    {{ form_label(form.type, "Type d'objectif :", {'label_attr': {'for':'type'}})}}
                    {{ form_widget(form.type,{'attr': {'class': 'form-control'}}) }}           
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                  {{ form_label(form.objectif, "Objectif :")}}
                    {{ form_errors(form.objectif) }}
                    {{ form_widget(form.objectif,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.recompense, "Montant si l'objectif est atteint à 100% :")}}
                  {{ form_errors(form.recompense) }}
                  {{ form_widget(form.recompense,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                {{ form_label(form.dateDebut, "Date de début :")}}
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">                
                  {{ form_errors(form.dateDebut) }}
                  {{ form_widget(form.dateDebut,{'attr': {'size': '16', 'type': 'text', 'class': 'form-control datetimepicker-input','data-target': '#datetimepicker4'}})}}
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                  {{ form_label(form.dateFin, "Date de fin :")}}
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                  {{ form_errors(form.dateFin) }}
                  {{ form_widget(form.dateFin,{'attr': {'size': '16', 'type': 'text', 'class': 'form-control datetimepicker-input','data-target': '#datetimepicker'}})}}
                  <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                {{ form_label(form.proportionnelInf, "Proportionnel si inférieur :")}}
                  {{ form_errors(form.proportionnelInf) }}
                  {{ form_widget(form.proportionnelInf,{'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.proportionnelSup, "Proportionnel si supérieur :")}}
                  {{ form_errors(form.proportionnelSup) }}
                  {{ form_widget(form.proportionnelSup,{'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
          </div>
          <!--<a class="btn btn-primary btn-block" href="/donnerobjectifs">Enregistrer</a>-->
          {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
        </form>
        {{ form_end(form) }}


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vous voulez vraiment nous quitter?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Cliquez sur "Se déconnecter" si vous voulez mettre fin à votre connexion.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" href="/login">Se déconnecter</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'L'
                });
                $('#datetimepicker').datetimepicker({
                    format: 'L'
                });
            });
    </script>
  </div>
</body>

</html>
